
html{
    scroll-behavior: smooth;
}

body{
  background-color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family:'Roboto light', sans-serif;
  font-weight: none;
  box-sizing: border-box;
  color: black;
}

h1 {
  font-size: 40px;
  padding: 15px 20px;
  font-family: 'Oswald';
  background-color: #97e314;
  justify-content: center;
  display: inline-flex;
}
h2 {
  font-size: 30px;
  padding: 10px;
  margin: 50px 0px 50px 0px;
  font-family: 'Oswald';
  text-align: center;
  background-color: #97e314;
/*  border-top: 3px solid #97e314;
  border-bottom: 3px solid #97e314;
*/}
h3 {
  font-size: 22px;
  text-align: center;
}
h4 {
  font-size: 20px;
  margin: 20px;
}
p{
  font-size: 16px;
  margin: 20px;
  line-height: 1.15;
}

.contact-block *{
  text-align: center;
}

a {
  color: black;
  text-decoration: underline;
}

.work-block p {
  margin: 0px 10px 10px 10px;
}



/********** Text effect *************/

.wrapper{
    display: inline-block;
    text-align: left;
    margin: 20px;
}
#intro {
  display: inline-block;
  color: white;
  border: 4px solid #97e314;
  padding: 10px;
  margin-left: 6vw;
  
}
#intro p{
  margin: 10px;
  font-size: 20px;
  /*line-height: 1;*/
}



.clip-text {  
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;


    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Oswald', sans-serif;
    background-color: #000;
    background-image: url("../images/green.jpeg");
    -webkit-filter: contrast(120%);
}

/********** NAV *************/

.navbar{
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 80px;
  width: auto;
  text-align: center;
  justify-content: center;
}

.nav-links{
  display: flex;
  flex-direction: column;
}

.navbar h1 {
  font-size: 30px ;
  margin: 20px;
  padding: 10px;
}

nav a, footer a{
  display: inline-block;
  color: white;
  text-decoration: none;   
  padding: 5px 15px;
  border: 2px solid #97e314;
  margin: 5px 5px;
  font-family: 'Oswald';
  font-size: 18px;
}

.active a{
  background-color: #97e314;
  color: black;
  font-weight: bold;
}

.skip a{
  background: #97e314;
  color: black;
  left: 0;
  padding: 3px;
  -webkit-transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  text-decoration: none;
  font-weight: bold;
}

.skip a:focus{
  top: 0px;
}

*:focus, .card:focus, {
  border: 2px solid #97e314;
  border-style: double;
  border-width: 7px;
}  

/********** Pics *************/

img {
  width: 100%;
  object-fit: cover;
}

#landing {
  background-image: url("../images/landing.jpg");
  height: 100vh; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 80% 10%;  /*make sure face is seen on mobile*/
  background-size: cover;
}

#about header {
  background-image: url("../images/laserMirror.jpg");
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


/********** Gallery *************/
.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.card {
  max-width: 200px;
  max-height: 250px;
  overflow: scroll;
  border: 2px solid red;
  padding: 10px;
  border: 5px solid #97e314;
  margin: 10px;
}

.card p {
  text-align: center;
  margin: 10px;
}

.card > img {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  -webkit-filter: contrast(130%);
}

.card > img:hover{
  -webkit-filter: grayscale(100%);
}


/********** Form *************/
.form {
  border: 3px solid #97e314;
  grid-row: 3 / span 1;
  grid-column: -1 / 1;
  padding: 20px;
  margin: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  box-sizing: border-box;
  margin: 10px;
  resize: vertical; 
}

input[type=submit], button {
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 20px; 
  background-color: #97e314;
  border-radius: 25px;
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  /*margin: auto, 10px, auto, 10px,;*/
  /*font-weight: bold;*/
}


/********** Footer *************/
footer{
  min-height: 80px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********** Flipcard *************/
.flipcard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; 
  margin: 20px auto 20px auto;
}
.flipcard-inner{
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipcard:hover .flipcard-inner {
  transform: rotateY(180deg);
}
.flipcard-front, .flipcard-back {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipcard-front {
  background-color: #bbb;
  color: black;
}
.flipcard-back {
  background-color: blue;
  transform: rotateY(180deg);
}

/********** Works *************/
  .work-block {
    margin: 20px;
  }
  .work-block h2 {
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0px;
  }

  .work-block h2:hover {
    background-color: #97e314;
    color:black;
  }


/********** Animation *************/
  @keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight{
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-duration: 1s;
}
.fadeInRight-long {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-duration: 4s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 2s;
}


/*********************** TABLET ************************************************/
@media all and (min-width: 550px){

  h1 {
    font-size: 40px;
    padding: 20px 25px;
  }
  p{
    font-size: 18px;
  }

  .clip-text {
    font-size: 10vw;
    padding: 3vw 5vw;   
  }


  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
  }

  nav a:hover, footer a:hover {
    border-style: inset;
    border-color: #97e314;
    border-width: 5px;
  }

  .card {
    max-width: 300px;
    max-height: 350px;
    border: 2px solid red;
    padding: 10px;
    border: 5px solid #97e314;
    margin: 10px;
  }

  .card > img {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .form .col {
    width: 50%;
  }

  footer a, footer p {
    margin-left: 50px;
    margin-right: 50px;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  } 


  .work-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px auto;
    min-height: 300px;
    padding: 0px 50px 0px 50px;
  }
  .work-block h2 {
    grid-row: 1 / span 1;
    grid-column: 1 / 3;
    align-self: center;
    text-align: left;
  }
  .work-block img {
    grid-row: 1 / -1;
    grid-column: 2 / span 3;
    object-fit: cover;
    z-index: -1;
    height: 100%;
  }
  .work-block p {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }

  header p {
    max-width: 70%;
    text-align: center;
    margin: 20px auto 20px auto;
    overflow: cover;

  }

  .col3-block { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
  }
  .col2-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .col3-block, .col2-block {
     margin: 20px ;
  } 

  .gallery {
    flex-direction: row;
  }


}

/*********************** DESKTOP ************************************************/
@media all and (min-width: 850px){

  h1 {
    font-size: 60px;
    padding: 20px 25px;
  }
  h2 {
    font-size: 35px;
  }

  .work-block, .form {
    width: 70%;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right:20px;
  }

  .gallery{
    margin: 20px 50px;
  }

  .col3-block, .col2-block, .work-block, .form {
    margin: 20px auto 20px auto;
    max-width: 1000px;
  }


}


@media (prefers-reduced-motion: reduce) { 
  
  .flipcard-inner{
    -webkit-transition: none;
  }

  .fadeInRight, .fadeInRight-long, .fadeIn{
    animation: none;
  }

}