
html{
    scroll-behavior: smooth;
}

body{
  background-color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(5, auto) 100px;
  /*grid-row-gap: 10px;*/
}

p {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  padding: 20px;
  border: 2px solid #97e314;
  font-family: 'Oswald', 'Roboto';
  background-color: #97e314;
  position: absolute;
  align-self: center;
}

h2 {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

h3 {
  font-size: 20px;
  padding-bottom: 10px;

}

nav{
  background-color: black;
  padding: 35px; 
  text-align: center;
  color: white;
  align-self: center;

  grid-column: 1 / -1;
  grid-row: 1 / span 1;
}

nav li{
  display: inline;
  margin-right: 10px;
}

nav a{
  color: white;
  text-decoration: none;   
  padding: 5px 15px;
  border: 2px solid #97e314;
}

nav a:hover{
  background-color: #97e314;
  padding: 5px 15px;
  color: black;
}

/*header {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  position: absolute;

}*/

img {
  display: block;
  width: 100%;
}

/*#landing {
  display: block;
  width: 100%;
}
*/



.landing h1{
  /*position: absolute;*/
  /*top: 0px;*/
  left: 0px;
  background-color: #97e314;
  font-size: 7vw;
  padding: 2vw 5vw;
}

footer{
  background-color: black;
  grid-column: 1 / -1;  
  grid-row: 7 / span 1;     
  padding: 20px 0px;
  text-align: center;
  align-self: center;
  /*border: 2px solid red;*/
  color: white;
}

footer a {
  color: white;
}

.about-block {
  margin: 20px;
}


.block {
  margin: 20px;
}

.about > p {
  text-align: center;
}


@media all and (min-width: 800px){

/*.landing h1{
  position: absolute;
  top: 25px;
  left: 0px;
  background-color: #97e314;
  font-size: 60px;
  padding: 10px 20px;
}
*/




